body {
    font-family: "Open Sans";   
    display: block;
    margin: auto;
    text-align: center;
}

ul {
    list-style-position: inside;
    text-align: left;
    width: 50%;
    margin: auto;
}

table {
    margin: auto;
    border: 1px solid black;
    padding: 1%;
}

.meme {
    width: 30%;
    height: 30%;
}